@page "/"

<PageTitle>Home</PageTitle>

<h1>Home Page</h1>
<h2>created by Josh Christensen</h2>

This is a personal project to learn to create a blazor website.

<!-- <SurveyPrompt Title="How is Blazor working for you?" /> -->
